<h3>&gt;Student Form&lt;</h3>

<form action="<%= students_path %>" method="POST">
  <label>Student first name:</label><br>
  <input type="text" id="student_first_name" name="student[first_name]"><br>

  <label>Student last name:</label><br>
  <textarea id="student_last_name" name="student[last_name]"></textarea><br>

  <input type="submit" value="Submit Student">
</form> 